* {
   margin: 0;
   padding: 0;
}
.container {
    height: 100vh;
    overflow: auto;
    position: relative;
    text-align: left;
}

.titles{
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 400px;
  left: 400px;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2;
}

.bigTitle{
  font-size: 120px;
  letter-spacing: 10px;
  font-weight: 400;
}

.smallTitle{
  font-size: 24px;
}

.smallTitle2{
  font-size: 24px;
  font-weight: lighter;
}

.contact{
  position: absolute;
  text-align: left;
  margin: 3px 0 0;
  padding: 0 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 600px;
  font-size:15px;
  text-decoration: underline;
  cursor: pointer;
}

.logo{
  position: absolute;
  text-align: left;
  margin: 3px 0 0;
  padding: 0 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 20px;
  font-size:15px;
}

.vr{
  position: absolute;
  text-align: left;
  margin: 5px 0 0;
  padding: 0 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size:10px;
  font-weight: lighter;
}
