* {
   margin: 0;
   padding: 0;
}

body{
  font-size: 14px;
}
.container {
    height: 100vh;
    overflow: auto;
    position: relative;
    text-align: left;
}

h1, h2, h3 a{
  color: rgba(255, 255, 255, 0.7);
}

a{
/* text-decoration: none; */
color: white;
}

.italic{
  font-style: italic;
  color: rgba(255, 165, 0, 0.5);
}
.titles{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 60%;
  left: 400px;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2;
  margin: 0 0 0 50px;
}

.bigTitle{
  font-size: 120px;
  letter-spacing: 10px;
  font-weight: 400;
}

.smallTitle{
  font-size: 18px;
}

.smallTitle2{
  font-size: 18px;
  font-weight: lighter;
}

.contact{
  position: absolute;
  text-align: left;
  margin: 3px 0 0;
  padding: 0 40px;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 600px;
  font-size:15px;
  text-decoration: underline;
  cursor: pointer;
}

.logo{
  position: absolute;
  text-align: left;
  margin: 3px 0 0;
  padding: 0 40px;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 20px;
  font-size:15px;
}

.vr{
  position: absolute;
  text-align: left;
  margin: 5px 0 0;
  padding: 0 40px;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size:10px;
  font-weight: lighter;
}

#arrow{
  position: absolute;
  width: 15px;
  z-index: 2;

}

.legend{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;

  position: absolute;
  margin: 5px 5px 0;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
  top: 120px;
  right: 20px;
  font-size: 10px;
  font-weight: lighter;
}



@media screen and (min-width: 300px) and (max-width: 1000px) {
  .smallTitle, .smallTitle2, a {
    font-size: 24px;
  }
  .titles{
    /* width: 80%; */
    top: 30%;

  }
}
